* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8e6db;
}


nav {
    position: fixed;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.3s;
    z-index: 1000;
}

nav.scrolled {
    background: #0b3358;
}

nav .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}


.section {
    padding: 100px 50px;
}

.light-bg {
    background: #b9b3f3;
}

h1, h2 {
    margin-bottom: 20px;
}


form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

form input,
textarea,
button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background: #0b3358;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #174a89;
}


footer {
    background: #0b3358;
    color: white;
    text-align: center;
    padding: 20px;
}
